@using ComputeYourself.Data.Enums
@using ComputeYourself.Data.Enums.MotherBoard
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MotherBoard

@{
    ViewData["Title"] = "Delete Motherboard";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 id="hal">Delete @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" readonly />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" readonly />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Warranty" class="control-label"></label>
                    <input asp-for="Warranty" class="form-control" readonly />
                    <span asp-validation-for="Warranty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" readonly />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Socket" class="control-label"></label>
                    <input asp-for="Socket" class="form-control" readonly />
                    <span asp-validation-for="Socket" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Chipset" class="control-label"></label>
                    <input asp-for="Chipset" class="form-control" readonly />
                    <span asp-validation-for="Chipset" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" readonly />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Igpu" class="control-label"></label>
                    <input asp-for="Igpu" class="form-control" readonly />
                    <span asp-validation-for="Igpu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RAM" class="control-label"></label>
                    <input asp-for="RAM" class="form-control" readonly />
                    <span asp-validation-for="RAM" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Frequency" class="control-label"></label>
                    <input asp-for="Frequency" class="form-control" readonly />
                    <span asp-validation-for="Frequency" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemorySockets" class="control-label"></label>
                    <input asp-for="MemorySockets" class="form-control" readonly />
                    <span asp-validation-for="MemorySockets" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <label asp-for="XMP" class="form-check-label"></label>
                    <input asp-for="XMP" class="form-check-input" type="checkbox" id="flexCheckDefault" readonly/>
                    <span asp-validation-for="XMP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxMemory" class="control-label"></label>
                    <input asp-for="MaxMemory" class="form-control" readonly />
                    <span asp-validation-for="MaxMemory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CForSLISupport" class="control-label"></label>
                    <input asp-for="CForSLISupport" class="form-control" readonly />
                    <span asp-validation-for="CForSLISupport" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bluetooth" class="control-label"></label>
                    <input asp-for="Bluetooth" class="form-control" readonly />
                    <span asp-validation-for="Bluetooth" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Lighting" class="form-check-label"></label>
                    <input asp-for="Lighting" class="form-check-input" type="checkbox" id="flexCheckDefault" readonly/>
                    <span asp-validation-for="Lighting" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <label asp-for="Windows11Support" class="form-check-label"></label>
                    <input asp-for="Windows11Support" class="form-check-input" type="checkbox" id="flexCheckDefault" readonly/>
                    <span asp-validation-for="Windows11Support" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wifi" class="control-label"></label>
                    <input asp-for="Wifi" class="form-control" readonly />
                    <span asp-validation-for="Wifi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LANPort" class="control-label"></label>
                    <input asp-for="LANPort" class="form-control" readonly />
                    <span asp-validation-for="LANPort" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LanportsNumber" class="control-label"></label>
                    <input asp-for="LanportsNumber" class="form-control" readonly />
                    <span asp-validation-for="LanportsNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PCIe16x" class="control-label"></label>
                    <input asp-for="PCIe16x" class="form-control" readonly />
                    <span asp-validation-for="PCIe16x" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SATA3" class="control-label"></label>
                    <input asp-for="SATA3" class="form-control" readonly />
                    <span asp-validation-for="SATA3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="M2" class="control-label"></label>
                    <input asp-for="M2" class="form-control" readonly />
                    <span asp-validation-for="M2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="USB2" class="control-label"></label>
                    <input asp-for="USB2" class="form-control" readonly />
                    <span asp-validation-for="USB2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="USB3" class="control-label"></label>
                    <input asp-for="USB3" class="form-control" readonly />
                    <span asp-validation-for="USB3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="USB31" class="control-label"></label>
                    <input asp-for="USB31" class="form-control" readonly />
                    <span asp-validation-for="USB31" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="USBC" class="control-label"></label>
                    <input asp-for="USBC" class="form-control" readonly />
                    <span asp-validation-for="USBC" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;justify-content:space-between;margin-top:10px">
                    <form asp-action="Delete" >
                        <input  type="hidden" asp-for="Id"/>
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>







